<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Webcam</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3"></div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="row">
                    <video id="video" style="width: 100%; padding-top: 100px;" autoplay></video>
                </div>
                    <!-- <div id="snap"
                        style="height: 150px; width: 150px; border-radius: 50%; text-align: center; background-color: aquamarine; color: black; padding: 10px; font-size:x-large; line-height: 6;cursor: pointer;">
                        Capture!
                    </div> -->
                <div class="row">
                    <canvas id="canvas" width="700" height="400"></canvas>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3"></div>
        </div>

        <div class="row">
            <form action="/processed" method="POST">
                <input name="imageData" id="imageData" value="" hidden>
                <button type="submit" id="submitBtn" hidden>Data</button>
            </form>
        </div>
    </div>

    <script>

        const video = document.getElementById('video');
        const snap = document.getElementById('snap');
        const canvas = document.getElementById('canvas');

        const constraints = {
            audio: false,
            video: {
                facingMode: "environment",
                width: {
                    min: 1024,
                    ideal: 1280,
                    max: 1920
                },
                heigth: {
                    min: 576,
                    ideal: 720,
                    max: 1080
                }
            }
        };

        async function startWebCam(constraint) {
            try {
                const stream = await navigator.mediaDevices.getUserMedia(constraint);
                video.srcObject = stream;
                window.stream = stream;
            } catch (err) {
                console.log(err.toString());
            }
        }

        function saveImage() {
            const canvas = document.getElementById('canvas');
            const dataURL = canvas.toDataURL('image/png', 0.5);
            const base64Data = dataURL.replace(/^data:image\/png;base64,/, '');
            return base64Data;
        }

        function captureImage() {
            new Promise((resolve) => {
                setTimeout(() => {
                    const data = saveImage();
                    resolve(data);
                }, 1000);
            }).then((data) => {
                document.querySelector('#imageData').value = data
                document.querySelector('#submitBtn').click();
            })
        }

        let context = canvas.getContext('2d');

        video.addEventListener('click', () => {
            context.drawImage(video, 0, 0, 700, 400);
            captureImage()
        });

        startWebCam(constraints);

    </script>

</body>

</html>